src/main/resources/firebase/echowave-b2c81-firebase-adminsdk-fbsvc-a9b4105f61.json
# Ignorar compilados
/target/
/*.iml
*.class

# config de IDE
.idea/
*.iws
*.ipr
*.bak

# Archivos de sistema
.DS_Store
Thumbs.db
*.jar

# Logs
*.log
